* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'spline sans', sans-serif;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

form {
  color: rgba(0, 0, 139, 0.712);
  border: solid darkblue;
  border-block-width: 30px;
  margin: 0 auto;
  max-width: 500px;
  padding: 45px 35px;
  box-shadow: -0 3rem 5rem ;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: darkblue;
  margin-bottom: .75rem;
  text-align: center;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 1.25rem;
}

input[type="text"],
input[type="password"] {
  width: 100% !important;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 1.25rem;
  height: auto;
  padding: 0.5rem;
}



.btn {
  position: relative;
  left: 27%;
  bottom: -30px;
  width: 50%;
  padding: 10px;
  background-color: darkblue;
  color: aliceblue;
  border: none;
  border-radius: 7px;
  font-weight: bolder;
  font-size:initial;
  cursor: pointer;
}
